.content {
    margin: 0 10px;
  	width:100%;
    min-height: 465px;
   
    padding: 0 15px;
}


article {
    float: left;
    height: auto;
    padding: 40px 0;
    position: relative;
    width: 100%;
}
article figure {
    float: left;
    height: 350px;
    margin-left: 0;
    margin-top: 0;
    overflow: hidden;
    padding: 0;
    width: 300px;
    box-shadow: 1px 5px 8px #181818;
}
.middlefig {
    float: right;
    height: 350px;
    margin-left: 40px;
    margin-right: 0;
    overflow: hidden;
    width: 300px;
}

section:nth-of-type(2n) {
    background-color: #D3D3D3;
    width: 100%;
    max-width: none;
    padding: 0px 25px;
    margin: 0;
}

.tranbox,.blackbox {
    display:none;
}
.headboard {
    background: url("../img/herty.jpg") repeat-x scroll 0 -70px rgba(0, 0, 0, 0);
    border-bottom: 2px solid #006BFF;
    height: 185px;
    margin: 0 0 15px;
    overflow: hidden;
    position: relative;
    top: -43px;
    width: 100%;
}
